@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('./tailwind.min.css');
@import url('./animate.min.css');

* {
  font-family: 'Poppins', sans-serif;
}

div.alert {
  position: fixed;
  top: 2rem;
  right: 2rem;
}